{% extends 'base.html.twig' %}


{% block title %}Mis Reservas{% endblock %}


{% block body %}
<h2>Mis Reservas</h2>
<div>
{% for reserva in reservas %}
<div class="card">
<p><strong>Libro:</strong> {{ reserva.libro.titulo }}</p>
<p><strong>Fecha inicio:</strong> {{ reserva.fechaInicio|date('d/m/Y') }}</p>
<p><strong>Estado:</strong> {{ reserva.estado }}</p>
</div>
{% else %}
<p>No tenés reservas registradas.</p>
{% endfor %}
</div>
{% endblock %}