{% extends 'base.html.twig' %}


{% block title %}Panel Administrador{% endblock %}


{% block body %}
<h1>Panel de Administración</h1>
<div style="display:flex;gap:20px;flex-wrap:wrap;">
<a href="#" class="btn btn-dark">Validar Usuarios</a>
<a href="#" class="btn btn-dark">Validar Reservas</a>
<a href="#" class="btn btn-dark">Gestionar Libros</a>
<a href="#" class="btn btn-dark">Libros sin devolver</a>
<a href="#" class="btn btn-dark">Clientes deudores</a>
</div>
{% endblock %}